.about {
    border-radius: 5px;
    background-color: $main_color_bright;
    .container {
        display: flex;
        justify-content: space-between;
        padding: 31px 0 28px 0;
    }
    &_text {
        max-width: 601px;
        font-family: "PT-Serif";
        line-height: 1.4;
        letter-spacing: -0.4px;
        color: #fff;
    }    
    .button {
        width: 269px;
    }
}