@import "_variables";
@import "_header";
@import "_classes";
@import "_services";
@import "_form";
@import "_banner";
@import "_about";
@import "_pricing";
@import "_gallery";
@import "_footer";

* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif; 
    font-size: 20px;
    color: $main_color_dark;
}